.form-wrapper {
	padding: 20px 15px;
}

.form-wrapper div {
	margin-bottom: 7px;
}

.form-wrapper h3 {
	font-size: 15px;
}

.header_box {
	border-top-right-radius: 10px;
	border-bottom: 1px solid #CCC;
}

a.footer:link {
	color: white;
	text-decoration: underline;
}

a.footer:visited {
	color: white;
	text-decoration: underline;
}

a.footer:link:hover {
	color: white;
	text-decoration: underline;
}

label {
  color: #7a7a7a;
  margin-right: 5px;
}

th {
  color: #7a7a7a;
  text-align: left;
  font-weight: normal;
}

/*
select, input[type=text], input[type=email], input[type=password], textarea {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 5px 3px;
  font: 13px 'Helvetica', Arial !important;
  width: 240px;
	border-radius: 4px;
}

input[type='checkbox'] {
  float: left;
  margin-top: 0px;
}
  
input[type='file'] {
  margin-bottom: 10px;
}
  
textarea {
  max-width: 700px;
  min-width: 240px;
  max-height: 150px;
  min-height: 50px;
}

input[type=submit], button, a.button {
	text-decoration: none;
  padding: 5px 10px;
  font: bold 13px Helvetica;
  color: #fff !important;
  text-shadow: 0 1px 1px #3a3a3a;
  text-decoration: none;
  border-radius: 6px;
  background: url(../img/button-overlay.png) #4e80bb;
  border: 1px solid #4e80bb;
  box-shadow: 0 1px 0px #4e80bb;
  -moz-box-shadow: 0 1px 0px #4e80bb;
  -webkit-box-shadow: 0 1px 0px #4e80bb;
  margin-left: 0;
	margin-right: 10px;
}

input[type=submit]:hover, button:hover, .button:hover {
  opacity: 0.9;
  cursor: pointer;
  text-decoration: none !important;
}
*/

#splash-form h3 {
  font-size: 15px;
}

#feedback input[type=text] {
  width: 400px;
}

@font-face { 
  font-family: 'Helvetica Neue Thin'; 
  src: url('../fonts/helvetica-neue-thin.ttf') format("truetype"); 
}