h1 {
	font-size: 25px;
	font-weight: bold;
}

.center {
	margin: 0 auto;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

.clearfix {
	overflow: hidden;
}

.light-blue {
  color: #59bafe;
}

.white { 
  color: #fff;
}
.white-bg {
	background: #fff;
}

.light-blue-bg {
	background: #EAEFF5;
}

.hidden {
  display: none;
}

.shadow {
  box-shadow: 0 2px 2px #bababa;
  -moz-box-shadow: 0 2px 2px #bababa;
  -webkit-box-shadow: 0 2px 2px #bababa;
}

.error {
	color: red;
}

.white-bg {
	background: #fff;
}

/*.error, .success {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.error {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
*/

.success {background:green !important;color:#264409;border-color:#c6d880;}

#flash {
	margin: 0 auto;
	margin-bottom: 10px;
	text-align: center;
	width: 500px;
	font-family: Helvetica;

	display: none;
}

.loading {
	display: none;
}


.hover-container .hover-item {
	display: none;
}

small {
	font-size: 85%;
}