body {
	background-color: #fff;
}

#mainContent {
	clear: both;
	margin: 0 auto;
	overflow: auto;
	padding-bottom: 17px;
	position: relative;
	top: 0;
	width: 1024px;
}
#captionText {
	color: #C00;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-large;
	padding-top: 17px;
}

#captionImage {
	float: left;
}

