/*********** HEADER ****************/
#header-wrapper {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
	background: #000;
  /* background: -webkit-gradient(linear, left top, left bottom, from(#3a3a3a), to(#222));
  background: -moz-linear-gradient(top,  #3a3a3a,  #222); */
}

#page-wrapper {
	bottom: 17px;
	overflow: auto;
	position: fixed;
	top: 60px;
	width: 100%;
	padding-top: 20px;
}

#footer-wrapper {
	background-color: black;
	color: white;
	height: 25px;
	width: 100%;
	text-align: right;
	overflow: hidden;
	position: absolute;
	top: auto;
	bottom: 0;
}

#header-wrapper #header {
  margin: 0;
  padding-top: 0px;
	padding-bottom: 0px;
	width: 100%;
}
#header-wrapper #header #logo {
  margin: 2px 15px;
}
#header-wrapper #header #topnav {
	display: block;
	padding-top: 15px;
}
#header-wrapper #header a {
  color: #dadada;
  text-decoration: none;
  font: 13px 'Helvetica', Arial;
}
#header-wrapper #header a:hover {
  text-decoration: underline;
}
#header-wrapper #header .navigation {
  padding: 8px 15px 8px 15px;
  border-left: 1px solid #3a3a3a;
  border-right: 1px solid #2a2a2a;
}
#header-wrapper #header .navigation:hover {
  border-left: 1px solid #4a4a4a;
  color: #fafafa;
}


.container_tm { 
	width: 96.5%; 
	min-width: 980px; 
	max-width: 1280px;
	margin: 0 auto; 
}

#body-wrapper {
	margin: 80px auto;
}

body {
	border: 0;
	font-family: Helvetica, sans-serif;
	font-size: 13px;
	margin: 0;
	max-height: 100%;
	padding: 0;
	background: #EAEFF5;
}

#coord_wrapper {
	background-color: white;
	width: 900px;
	margin: 0 auto;
}

.form-wrapper h1 {
	display: block;
	margin-bottom: 3px;
	margin-top: 2px;
	font: bold 25px Helvetica, Arial;
}
.form-wrapper .subheader {
	font: 18px Helvetica, Arial;
}

.container-wrapper {
	width: 810px;
	margin: 0 auto;
}

li.step1 {
	background: url(../img/steps/step1.png) no-repeat;
}
li.step2 {
	background: url(../img/steps/step2.png) no-repeat;
}
li.step3 {
	background: url(../img/steps/step3.png) no-repeat;
}
li.step4 {
	background: url(../img/steps/step4.png) no-repeat;
}
.eval-pbar ul li.done {
 	background: url(../img/steps/step-finished.png) no-repeat !important;
}
.eval-pbar ul {
	list-style: none;
	display: block;
	margin: 0;
}
.eval-pbar ul li {
  font-family: Helvetica;
  font-size: 15px;
	color: #bbbbbb;
	float: left;
	margin: 5px;
	margin-right: 10px;
	padding-left: 22px;
	background-position: left;
}
.eval-pbar ul li a {
}
.eval-pbar ul li.current {
	color: #333;
	font-weight: bold;
}
.eval-pbar ul li.current a {
	color: #333;
}
.eval-pbar ul li.current a:hover {
	text-decoration: none;
}
.eval-bar ul li.notyet {
	opacity: 0.9;
}
.eval-bar ul li.notyet a {
	color: #88B7EB;
	text-decoration: none;
	pointer-events: none;
	cursor: default;
}
.box-eval {
	padding: 8px;
	border: 1px #aaa solid;
	border-radius: 3px;
}

ul#course_nav li {
	width: 100%;
}


.countdown {
	font-weight: bold;
	color: blue;
	font-family: courier;
}

tr.row-submitted td {
	background-color: #DFF2BF !important;
}