/*---------- Table CSS ----------*/
table .tbl { 
 background:#EAEFF5;
 border:1px solid gray;
 border-collapse:collapse;
 color:#fff;
 font:normal 12px verdana, arial, helvetica, sans-serif;
 text-align: left;
 margin: 0 auto;
 width: 100%;
}
caption { 
 border:1px solid #5C443A;
 color:#5C443A;
 font-weight:bold;
 letter-spacing:20px;
 padding:6px 4px 8px 0px;
 text-align:center;
 text-transform:uppercase;
}
.tbl td, .tbl th { 
 color:#363636;
 text-align: left;
 padding:0.5em;
}
.tbl tr { 
 border:1px dotted gray;
}
.tbl thead th, .tbl tfoot th { 
 background:#4E80BB;
 color:#FFFFFF;
 text-align: left;
 vertical-align:bottom;
 text-transform: uppercase;
 border-collapse: collapse;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 14px;
 margin: 0 auto;
 width: 960px;
}
tbody td a { 
 color:#363636;
 text-decoration:none;
}
tbody td a:visited { 
 color:gray;
 text-decoration:none;
}
tbody td a:hover { 
 text-decoration:underline;
}
tbody th a { 
 color:#363636;
 font-weight:normal;
 text-decoration:none;
}
tbody th a:hover { 
 color:#363636;
}
tbody td+td+td+td a { 
 background-position:left center;
 background-repeat:no-repeat;
 color:#03476F;
 padding-left:15px;
}
tbody td+td+td+td a:visited { 
 background-position:left center;
 background-repeat:no-repeat;
}
tbody th, tbody td { 
 text-align:left;
 vertical-align:top;
}
tfoot td { 
 background:#5C443A;
 color:#FFFFFF;
 padding-top:3px;
}
.odd { 
 background:#fff;
}

/* header form - for all tables on top of the page*/
.headerform {
	border:none;
	width: 960px;
	  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

.headerform td {
   font-size: 13px;
   padding: 8px;
}

.headerform tr {
	border:none;
}

/* for creating new course */
.addform {
	alignment-adjust:central; 
	width:500px; 
	height: 190px;
	border:none;
/* 	background: #4E80BB; */
}
.addform tr {
	border:none;
}
.addinput  {
	color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
    width: 450px;
    margin-left: 15px;
    margin-right: 15px;
}

/* for display detail: 
 * 1) student view course detail 
 * 2) coordinator view student detail
 */
.detailform {
	width: 500px
}
.detailform td:nth-of-type(odd) {
	background-color: #4E80BB;
	color:#FFF;
	font-weight:bold;
	width: 30%;
	text-align: right;
}
.detailform td:nth-of-type(even) {
	background-color: #eaeff5;
	width: 70%;
}



/* data form */
#dataform {
}

#dataform td{
	border:1px dotted gray;
}

#dataform tr:nth-of-type(odd) {
	background-color: #eaeff5;
}

#dataform tr:nth-of-type(even) {
	background-color: #d0d8e8;
}

#dataform tr:hover { 
 background:#CCCCCC;
 border:1px solid #03476F;
 color:#000000;
}

#dataform a:link {
   color: #000;
   text-decoration: underline;
}

#dataform a:visited {
   color: #000;
}

#dataform a:link:hover {
   color: #000;
   text-decoration: underline;
}

/* result_table */
.result_team {
	background: #036;
	margin: 0 auto;
 	width: 960px;
	padding: 20px;

}
.result_team p{
	color: #FFFFFF;
	font-size:16px;
	text-align:left;
}

.result_table td{
	border:1px dotted gray;
}

.result_subheader {
	background-color: #d0d8e8;
	
}
.result_subheader td{
	color: #4E80BB;
	font-weight: bold;
}

/* STUDENT: results header form */
.result_studentform{
	width:100%;
}
.result_studentform tr{
	border: 1px dotted #CCC;
}

.result_studentform td:nth-of-type(even) {
	background-color: #eaeff5;
}

.result_studentform td:nth-of-type(odd) {
	background-color: #4E80BB;
	color:#FFF;
	font-weight:bold;
}

/* Table Elements */
.fontcolor {
	color: #036;
	font-size:10px;
}
.color_positive { 
	color: #060;
	font-weight:bold;
	
}
.color_negative { 
	color:#F00;
	font-weight:bold;
}
.color_gray {
	color: gray;
	font-size: 9;
}
.attribute{
	text-align:right;
	vertical-align: middle;
	font-weight:bold;
}

/*-------- Other Element --------*/


p.info {
   color: #669;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   font-weight: bold;
   text-align: left;
}

p.splinfo {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
   font-weight: bold;
   text-align: center;
}

p.splinfo2 {
   color: #069;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
   font-weight: bold;
   text-align: center;
}

p.splinfo3 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
   font-weight: bold;
   text-align: right;
}

.centeralign {
   text-align: center;
}

.leftalign {
   text-align: left;
}

.negDiff {
	color: #F00;
}

.posDiff {
	color: #063;
}

.lhs {
   color: black;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   font-weight: bold;
   padding-left: 10px;
   padding-top: 2px;
   vertical-align: top;
   text-align: right;
   width: 300px;
}

.fieldname {
   color: #000;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   font-weight: bold;
   vertical-align: center;
   text-align: right;
   width: 50%;
}

.fieldvalue {
   color: black;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 13px;
   font-weight: normal;
   text-align: left;
   width: 250px;
}

.keyvalue {
   color: black;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 13px;
   font-weight: normal;
   text-align: left;
   width: 350px;
}

.reportheader {
   font-weight: bold;
   padding-bottom: 5px;
   text-align: center;
   text-decoration: underline;
   text-transform: capitalize;
}


.textarea {
   resize: none;
   padding:0;
   border: none;
}

.textvalue {
   color: black;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 13px;
   font-weight: normal;
   text-align: left;
}

a:visited {
   color: #669;
}

a:link:hover {
   color: #669;
   text-decoration: underline;
}

.sort {
	text-decoration:underline;
}

.button {
    background: #9ab3c4;
    background: -webkit-gradient(linear, left top, left bottom, from(#9aa1a6),
        to(#9ab3c4) );
    background: -webkit-linear-gradient(top, #9aa1a6, #9ab3c4);
    background: -moz-linear-gradient(top, #9aa1a6, #9ab3c4);
    background: -ms-linear-gradient(top, #9aa1a6, #9ab3c4);
    background: -o-linear-gradient(top, #9aa1a6, #9ab3c4);
    color: white;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 12px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px 20px 20px 20px;
    border: 0px solid #eeeeee;
    padding: 5px 8px;
    text-decoration: none;
    vertical-align: middle;
}

.button:hover {
    background: #66727a;
    border-color: #eeeeee;
    color: #ffffff;
}

.button:active {
    background: #1b435e;
    border-color: #eeeeee;
}

/* pending feature */
.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}


.infoform {
	border:1px dotted gray;
}

.color_disabled{ color:#F00; text-decoration:none; }


/*h1 {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 200%;
	font-weight: bold;
	letter-spacing: 2px;
	margin: 0 auto;
	padding: 15px 0 15px;
	text-transform: uppercase;
} */

div#coordinatorCourseEnrollment {
	color: white;
	margin-top: 30px;
	text-align: center;
}

div#coordinatorCourseEnrollmentButtons {
	margin-top: 30px;
	text-align: center;
}

div#coordinatorCourseEnrollmentResults {
	margin-top: 40px;
	text-align: center;
}

div#coordinatorCourseInformation {
	margin-top: 16px;
	text-align: center;
}

div#coordinatorCourseManagement {
	margin-top: 20px;
	text-align: center;
}

div#coordinatorCourseTable {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin-top: 20px;
	text-align: center;
}

div#coordinatorEditEvaluationButtons {
	margin-top: 50px;
	text-align: center;
}

div#coordinatorEditEvaluationResults {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	margin-top: 16px;
	text-align: center;
}

div#coordinatorEditEvaluationResultsButtons {
	margin-top: 50px;
	text-align: center;
}

div#coordinatorEditEvaluationResultsStatusMessage {
	background-color: #FFFF99;
	font-family: Arial, Helvetica, sans-serif;
	margin: 20px auto;
	padding: 8px;
	text-align: center;
	width: 940px;
	display: none;
}

div#coordinatorEditStudentButtons {
	margin-top: 50px;
	text-align: center;
}

div#coordinatorEvaluationInformation {
	margin-top: 16px;
	text-align: center;
}

div#coordinatorEvaluationManagement {
	margin-top: 10px;
	text-align: center;
}

div#coordinatorEvaluationSummaryTable {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	margin-top: 16px;
	text-align: center;
}

div#coordinatorEvaluationTable {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin-top: 20px;
	text-align: center;
}

div#coordinatorStudentInformation {
	margin-top: 16px;
	text-align: center;
}

div#coordinatorStudentTable {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin-top: 20px;
	text-align: center;
}

div#frameBodyWrapper
	bottom: 17px; /*Set bottom value to HeightOfBottomFrameDiv*/
	overflow: auto;
	position: fixed;
	top: 60px; /*Set top value to HeightOfTopFrameDiv*/
	width: 100%;
}

div#frameBodyWrapper {
	background-attachment: fixed;
	background-repeat: no-repeat;
	margin: 0 auto;
	width: 1024px;
}

div#frameBottom {
	background-color: black;
	bottom: 0;
	color: white;
	height: 17px; /* Height of bottom frame div */
	left: 0;
	overflow: hidden; /* Disable scroll bars. Set to "scroll" to enable */
	position: absolute;
	top: auto;
	width: 100%;
}

div#frameTop {
	background-color: black;
	height: 60px; /* Height of top frame div*/
	left: 0;
	overflow: hidden; /* Disable scroll bars. Set to "scroll" to enable*/
	top: 0;
	width: 100%;
}

div#frameTopWrapper {
	margin: 0 auto;
	position: relative;
	text-align: center;
	width: 1024px;
}

div#headerOperation {
	margin-top: 30px;
	text-align: center;
}


div#statusMessage {
	font-family: Arial, Helvetica, sans-serif;
	margin: 20px auto;
	padding: 8px;
	text-align: center;
	display: none;
}

div#studentCourseInformation {
	margin-top: 16px;
	text-align: center;
}

div#studentCourseManagement {
	margin-top: 20px;
}

div#studentCourseTable {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin-top: 20px;
	text-align: center;
}

div#studentEvaluationInformation {
	margin-top: 35px;
	text-align: center;
}

div#studentEvaluationResults {
	margin-top: 16px;
	text-align: center;
}

div#studentEvaluationSubmissionButtons {
	margin-top: 50px;
	text-align: center;
}

div#studentEvaluationSubmissions {
	margin-top: 60px;
	text-align: center;
}

div#studentPastEvaluations {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin-top: 50px;
	text-align: center;
}

div#studentPendingEvaluations {
	margin-top: 50px;
	text-align: center;
}

input.buttonSortAscending {
	background: url("../images/sortUpButton.png") no-repeat top left;
	border: 0;
	height: 14px;
	outline: none;
	vertical-align: middle;
	width: 14px;
}

input.buttonSortNone {
	background: url("../images/sortSideButton.png") no-repeat top left;
	border: 0;
	height: 14px;
	outline: none;
	vertical-align: middle;
	width: 14px;
}

input.plusButton {
	background: #eaeff5 url("../images/plusButton.png") no-repeat top left;
	border: none;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	height: 27px;
	width: 34px;
}

input.minusButton {
	background: #eaeff5 url("../images/minusButton.png") no-repeat top left;
	border: none;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	height: 27px;
	width: 34px;
}


input.buttonViewArchived {
	background: url("../images/submitbutton.png") no-repeat top left;
	border: none;
	color: black;
	filter: alpha(opacity =           60);
	filter: Òalpha(opacity =           60) Ó;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	height: 70px;
	opacity: 0.6;
	outline: none;
	padding: 2px 8px;
	width: 150px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

input.buttonViewArchivedSelected {
	background: url("../images/submitbuttonselected.png") no-repeat top left;
	border: none;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	height: 70px;
	outline: none;
	padding: 2px 8px;
	width: 150px;
}

div#loginTableHolder {
	padding-top: 15%;
}

table#login {
	border-collapse: collapse;
	border-spacing: 20px;
	margin: 0 auto;
	width: auto;
}

td.loginCell {
	padding: 8px;
	text-align: center;
}

.lhs {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding-left: 10px;
	padding-top: 2px;
	vertical-align: top;
	text-align: right;
}

.reportheader {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 5px;
	text-align: center;
	text-decoration: underline;
	text-transform: capitalize;
}

.fieldname {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding-left: 10px;
	padding-top: 2px;
	vertical-align: top;
	text-align: right;
	width: 450px;
}

.keyvalue {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	text-align: left;
	width: 350px;
}

.centeralign {
	text-align: center;
}

.leftalign {
	text-align: left;
}
.rightalign {
	text-align: right;
}

table#data {
	border-collapse: collapse;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 auto;
	text-align: left;
	width: 960px;
}

#data th {
	background: #4e80bb;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	padding: 8px;
}

#data td {
	background-color: #eaeff5;
	font-size: 13px;
	padding: 8px;
}

td.inputField {
	width: 300px;
}

table#dataform {
	border-collapse: collapse;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 auto;
	text-align: left;
}

#dataform th {
	background: #4e80bb;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	padding: 8px;
}

#dataform tr:nth-of-type(odd) {
	background-color: #eaeff5;
}

#dataform tr:nth-of-type(even) {
	background-color: #d0d8e8;
}

#dataform td {
	color: #000;
	font-size: 13px;
	padding: 8px;
}

#dataform a:link {
	color: #000;
	text-decoration: underline;
}

#dataform a:visited {
	color: #000;
}

#dataform a:link:hover {
	color: #000;
	text-decoration: underline;
}

.textvalue {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	text-align: left;
}


.negDiff {
	color: #F00;
}

.posDiff {
	color: #063;
}

p.info {
	color: #669;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
}

p.splinfo2 {
	color: #069;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

textarea {
	resize: none;
}

ul#navbar {
	color: white;
	font-family: 'Helvetica';
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
	white-space: nowrap;
	width: 100%;
}
