#submit-main {
	width: 600px;
	margin: 0 auto;
	padding: 1.25%;
	background-color: #fff;
}

#submit-main .intro {
	font: 15px Helvetica;
	color: #333;
/*  font-face: 'Helvetica Neue';
  font-size: 15px;
  color: #666;

	line-height: 140%;*/
	line-height: 1.3em;
	  float: left;
  display: block;
}

#submit-main .info {
  width: 50%;
  display: block;
  margin-left: 20px;
}
.info table td {
  padding: 5px;
}
.note {
  font-style: italic;
  margin: 4px 0;
}
td.label {
  text-align: right;
  margin-right: 10px;
  color: #7A7A7A;
}

#connect_wrapper {
	opacity: 0.7;
	float: right;
	display: block;
}
#connect_wrapper:hover {
	opacity: 1;
}


.section_content {
	
}
.section_content .row {
}
.section_content .row .label {
	float: left;
	width: 150px;
	display: block;
	color: black;
	font: bold 15px Arial;
}
.section_content .row .field {
	float: left;
}
.section_content .row .action {
	margin: 0 auto;
	padding-left: 180px;
}

.google_connect {
}
.google_connect:hover {
	opacity: 0.8;
}