{namespace tm.coordinator}

/** Add new course */
{template .course_create}

<div class='form-wrapper center shadow' style='width: 350px;'>
	<h3>Create New Course</h3>
	<br/>
	<form method="post" action="/app/c/course_create" id="form_addcourse">
		<div>
			<label>Course code<br/>
				<input type="text" name="{COURSE_ID}" ID="{COURSE_ID}"
				title='Enter the IDentifier of the course, e.g.CS3215Sem1.'
				maxlength=50 class='required' tabindex=1 />
			</label>
		</div>

		<div>
			<label>Course Name <br/>
				<input type="text" name="{COURSE_NAME}" ID="{COURSE_NAME}" class='required'
				title='Enter the name of the course, e.g. Software Engineering.'
				maxlength=50 tabindex=2 />
			</label>
		</div>
		<div>
			<input id='btnAddCourse' type="submit" class="button" value="Add Course" tabindex="3" />
			{call tm.loading /}
		</div>
	</form>
</div>

{/template}
